apiVersion: v1
kind: Service
metadata:
  name: "{{ k8s_mysql_servicename }}-service"
  namespace: "{{ k8s_namespace }}"
spec:
  type: LoadBalancer
  ports:
  - port: {{ k8s_mysql_service_port }}
  selector:
    app: "{{ k8s_mysql_servicename }}"
